<!doctype html> 
<html lang="en"> 

<head> 
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<title>Flask demo</title> 
	<link href="{{ url_for('static', filename='css/output.css') }}"  rel="stylesheet">
</head> 

<body> 
	<header class="text-gray-600 body-font">
		<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
		  <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
			  <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
			</svg>
			<span class="ml-3 text-xl"></span>
		  </a>
		  {% if current_user.is_authenticated %}
		  <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
			<a class="mr-5 hover:text-gray-900" href="/books">Books</a>
			<a class="mr-5 hover:text-gray-900" href="/members">Members</a>
			<a class="mr-5 hover:text-gray-900" href="/transactions">Transactions</a>
			<div class="relative inline-block text-left">
				<div>
				  <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900  hover:bg-gray-50" id="more-button" aria-expanded="true" aria-haspopup="true">
					More
					<svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
					</svg>
				  </button>
				</div>
				<div class="hidden absolute md:right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" id="more-menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
				  <div class="py-1 px-2" role="none">
					<a href="/import_books" role="menuitem" class="block hover:text-gray-900"> Import Books</a>
					<a href="/book-issue" role="menuitem" class="block hover:text-gray-900"> Book Issue</a>
					<a href="/book-return" role="menuitem" class="block hover:text-gray-900"> Book Return</a>
				  </div>
				</div>
			  </div>
			  
		  </nav>
		  
		  <a class="mr-5 hover:text-gray-900" href="/logout">Logout</a>
		  {% else %}
		  <a class="mr-5 hover:text-gray-900" href="/login">Login</a>
		  <a class="mr-5 hover:text-gray-900" href="/sign-up">Sign up</a>
		  {% endif %}
		</div>
	</header>
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		<ul class="flashes text-center mx-auto">
		{% for category, message in messages %}
		<li class="{{ 'text-red-400' if category=='error' else 'text-green-400' }} text-md">{{message}}</li>
		{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}

    {% block content %}

    {% endblock %}

	<script>
		const menuButton = document.getElementById('more-button');
    	const elementToToggle = document.getElementById('more-menu');
		menuButton.addEventListener('click', function() {
			console.log('hi')
			elementToToggle.classList.toggle('hidden');
		});
	</script>

</body> 


</html>

